@charset "UTF-8";

body {
    background-color: #ededed;
    font-family: Trebuchet MS;
    
}

.barrapop {
    background-color: #242424;
    border-radius: 10px; 
    box-shadow: 5px 5px 10px 2px #001530;
    width: 77em;
    padding: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
}
.caixas {
    background-color: #242424;
    border-radius: 10px; 
    box-shadow: 5px 5px 10px 2px #001530;
    width: 200px;
    height: 300px; 
    padding: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 2.5em
    
}
.informativo {
    background-color: #242424;
    border-radius: 10px; 
    box-shadow: 5px 5px 10px 2px #001530;
    width: 550px;
    height: 318px; 
    padding: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    display: inline-block; 
    margin-top: 1.5em;
    margin: 2em   
}
.caixas:hover{ 
    background-color: #4e4e4e;
   
}
a{
    text-decoration: none;
    display: inline-grid;
    color: rgb(255, 255, 255);
}
