@charset "UTF-8";
body{
    background-color: #ededed;
    font-family: Trebuchet MS;
    margin: 8px;
    
    
}


header{
    background-image: linear-gradient(250deg,#141414,#242424);
    color: white;
    height: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px #001530;
    text-align: center;
}
h1{
    width: 50px;
    display: contents;
    text-align: center;
    position: absolute;
    font-size: 55px;
}
a{ text-decoration: none;
    display: grid;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 8% 2% 2% 2%; 
    
}


.cubos{
    background-color: #242424;
    border-radius: 10px; 
    box-shadow: 5px 5px 10px 2px #001530;
    width: 200px;
    height: 300px;
    display: inline-block;
    margin: 4%;

    
}
.cubosinfo{
    background-color: #242424;
    color: white;
    border-radius: 10px; 
    box-shadow: 5px 5px 10px 2px #001530;
    width: 480px;
    height: 250px;
    display: inline-block;
    position: absolute;
    margin: 5% 5% 5% 0%;
    padding: 2%;
}
.cinquenta{
    background-color: #F20530;
    border-radius: 50%; 
    box-shadow: 5px 5px 10px 2px #001530;
    width: 150px;
    height: 150px;
    display: inline-block;
    
}
.cinquenta:hover{ background-color: #e62f2f;}
.quarenta:hover{ background-color: #f7c04a;}
.trinta:hover{ background-color: #246cfc;}
.quarenta{
    background-color: #F2B705;
    border-radius: 50%; 
    box-shadow: 5px 5px 10px 2px #001530;
    width: 150px;
    height: 150px;
    display: inline-block;     
}
.trinta{
    background-color: #0554F2;
    border-radius: 50%;  
    box-shadow: 5px 5px 10px 2px #001530;
    width: 150px;
    height: 150px;
    display: inline-block; 
}
.all{
    background-image: linear-gradient(45deg
, black, transparent);
    border-radius: 50%;  
    box-shadow: 5px 5px 10px 2px #001530;
    width: 150px;
    height: 150px;
    display: inline-block; 
}
.textoporcento{
    margin-top: 33%;
    text-align: center;
    font-size: 2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cubosinfo2{
    background-color: #242424;
    color: white;
    border-radius: 10px; 
    box-shadow: 5px 5px 10px 2px #001530;
    width: 350px;
    height: 140px;
    display: inline-block;
    position: absolute;
    margin: 9% 2% 2% 2%;
    padding: 2%;
    font-size: 1.5em;
}

img{
    margin: 3%;
    border-radius: 10px;
    display: inline-block;
}
footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #222;
    color: #fff;
    padding: 25px;
    width: calc(100% - 40px);
    font-size: 18px;
    text-align: center;

}
footer > p{
    margin: 0px;
}
div:hover{
    background-color: #444343;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px #001530;

}